<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="MysqlEFDenemesi.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="100 Kayıt Ekle" />
&nbsp;
            <asp:Button ID="btn100KayitEkle" runat="server" OnClick="btn100KayitEkle_Click" Text="1000 Kayıt Ekle" />
&nbsp;&nbsp;
            <asp:Button ID="btnKacKayitVar" runat="server" OnClick="btnKacKayitVar_Click" Text="Kaç Kayıt Var" />
&nbsp;<br />
            <br />
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
            <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
            <asp:Button ID="btnAralikSil" runat="server" OnClick="btnAralikSil_Click" Text="Aralığı Sil" />
&nbsp;&nbsp;
            <asp:Button ID="btnExcmndIleSil" runat="server" OnClick="btnExcmndIleSil_Click" Text="Aralığı ExecuteCommand İle Sil" />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <asp:Label ID="lblSonuc" runat="server" Text="Sonuc"></asp:Label>
        </div>
    </form>
</body>
</html>
